---
layout: base.njk
---

<article class="post" itemscope itemtype="https://schema.org/BlogPosting">
  <header class="post__header">
    <meta itemprop="datePublished" content="{{ date | isoDate }}">
    <meta itemprop="headline" content="{{ title }}">
    <meta itemprop="description" content="{{ description }}">
    
    {% if image %}
    <meta itemprop="image" content="{{ image }}">
    {% endif %}
    
    <div class="post__meta">
      <time class="post__date" datetime="{{ date | isoDate }}" itemprop="datePublished">{{ date | date }}</time>
      {% if tags %}
      <div class="post__tags">
        {% for tag in tags %}
        <span class="tag">{{ tag }}</span>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    
    <h1 class="post__title" itemprop="headline">{{ title }}</h1>
    {% if description %}
    <p class="post__description" itemprop="description">{{ description }}</p>
    {% endif %}
  </header>
  
  {% if image %}
  <div class="post__featured-image">
    {% image image, title, description %}
  </div>
  {% endif %}
  
  <div class="post__content" itemprop="articleBody">
    {{ content | safe }}
  </div>
  
  <footer class="post__footer">
    <a href="/blog/" class="post__back-link">← Retour au blog</a>
  </footer>
</article>
